.wrapper {
    display: flex;
    padding: 0 59px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    transition: all ease-out 0.5s;
    backdrop-filter: blur(20px);
    z-index: 99;
}
.navigation {
    font-weight: 400;
    display: flex;
    align-items: center;
}
.icon-prev {
    font-size: 2.2rem;
    margin-right: 10px;
    cursor: pointer;
}
.icon-next {
    font-size: 2.2rem;
    margin-left: 10px;
    cursor: pointer;
}
.left {
    display: flex;
    align-items: center;
}
.search {
    position: relative;
    padding: 0 12px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 30vw;
    max-width: 440px;
    background-color: hsla(0, 0%, 100%, 0.1);
    height: 40px;
    border-radius: 20px;
}
.icon-clear {
    font-size: 1.8rem;
    cursor: pointer;
    margin-right: 2px;
}
.input {
    width: 95%;
    padding: 2px 8px;
    font-size: 1.6rem;
    border: none;
    outline: none;
    background-color: transparent;
    caret-color: #fff;
    color: #fff;
    &::placeholder {
        color: #dadada;
    }
}
.icon-search {
    border: none;
    background-color: transparent;
    color: #dadada;
    font-size: 2rem;
    margin-right: 2px;
    cursor: pointer;
}
.search-result {
    width: 30vw;
    max-width: 440px;
    border-radius: 12px;
    background-color: #34224f;
    padding: 13px 10px;
    overflow: hidden;
}
.no-item {
    text-align: center;
    padding: 20px 0;
}
.title {
    font-size: 1.4rem;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 0.5);
    user-select: none;
}
.right {
    display: flex;
    align-items: center;
}
.download {
    padding: 10px 24px;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #c273ed;
    background-color: hsla(0, 0%, 100%, 0.1);
    cursor: pointer;
}
.icon-download {
    margin-right: 4px;
}
.icon-setting {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    & .setting {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}
.setting-box {
    position: absolute;
    top: 130%;
    right: -1px;
}
.avata {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    cursor: pointer;
}
.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.box-login,
.box-user {
    position: absolute;
    top: 130%;
    right: -1px;
}
.box-login {
    width: 350px;
    background-color: #34224f;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 101;
}
.box-result {
    width: 100%;
    overflow-y: overlay;
    max-height: calc(100vh - 240px);
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: #34224f;
    }
}
.btn {
    width: 318px;
    text-align: center;
    margin: 10px 10px 20px 10px;
    padding: 12px 10px;
    height: 44px;
    background-color: #9b4de0;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 20px;
}
.line {
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    margin: 10px 0;
}
@media (max-width: 1231px) {
    .wrapper {
        padding: 0 29px;
    }
}
