.table {
    width: 100%;
    height: auto;
    background-color: transparent;
    border-collapse: collapse;
    & th {
        cursor: pointer;
    }
    & tr {
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    }
    & td {
        padding: 12px 0;
        text-align: center;
    }
}
.control-col {
    width: 440px;
}
.col-name {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.vip {
    margin-left: 8px;
    background-color: #e5ac1a;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 4px;
    height: 12px;
    line-height: 12px;
    padding: 0 4px;
    text-transform: uppercase;
}
.img-col {
    display: flex;
    justify-content: center;
}
.data-img {
    text-align: center;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.btn {
    border: none;
    margin: 0 4px;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    &.btn-update {
        background-color: blueviolet;
    }
    &.btn-delete {
        background-color: crimson;
    }
    &.btn-detail {
        background-color: #00c417;
    }
    &.btn-pgrade {
        background-color: rgb(200, 216, 13);
    }
}
.icon {
    margin-right: 6px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item {
    position: relative;
    margin: 12px 0;
    display: flex;
    align-items: center;
}
.search {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    width: calc(100% - 120px);
}
.icon-X {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}
.text {
    width: 24%;
    min-width: 120px;
}
.file {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.img-upload {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 32px;
}
.input {
    border: none;
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
    width: 100%;
    padding: 2px 4px;
    font-size: 1.6rem;
    outline: none;
    caret-color: #fff;
    background-color: transparent;
    &:focus {
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    }
    & option {
        background-color: #34224f;
    }
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    padding: 4px 8px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    background-color: rgb(65, 29, 128);
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}
.file-name {
    margin-left: 32px;
}
.msg {
    position: fixed;
    top: 70px;
    right: 0;
    animation: active ease-out 0.5s;
    z-index: 999;
}
@keyframes active {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}