.wrapper {
    background-color: var(--primary);
}

.content {
    padding-top: 24px;
    margin-top: 70px;
    margin-left: 240px;
    min-height: calc(100vh - 70px);
    background-color: var(--primary);
    padding: 0 16px;
}
