.image {
    position: relative;
    border-radius: 4px;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    cursor: pointer;
    &:hover .img {
        transform: scale(1.1);
    }
    &:hover .overlay {
        display: flex;
    }
    &.active .overlay {
        display: flex;
    }
}
.img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform ease-out 0.5s;
}
.overlay {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    & .play {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
    }
    & .play-icon {
        text-align: center;
        height: 100%;
        width: 100%;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    & .pause {
        font-size: 4.5rem;
    }
}
.favorite,
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    font-size: 1.8rem;
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
}
.added {
    color: #c273ed;
}
.content {
    margin-top: 12px;
    & p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.4rem;
    }
}
.title {
    width: fit-content;
    font-weight: 700;
    margin-bottom: 4px;
    cursor: pointer;
    &:hover {
        color: #c273ed;
    }
}
.singer {
    font-weight: 400;
    line-height: 1.33;
    color: hsla(0, 0%, 100%, 0.5);
    width: fit-content;
    &:hover {
        color: #c273ed;
        text-decoration: underline;
    }
}
.msg {
    position: fixed;
    bottom: 90px;
    left: 0;
    animation: active ease-out 0.5s;
    z-index: 999;
}
@keyframes active {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
