.wrapper {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 0;
    width: 240px;
    background-color: var(--sideBar);
}
.active .menu-item {
    color: var(--textColor);
    background-color: #393142;
}
.menu-item {
    color: #dadada;
    font-size: 1.4rem;
    padding: 12px 21px;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        color: var(--textColor);
        background-color: #393142;
    }
}
.icon {
    margin-right: 12px;
    font-size: 2.05rem;
}
